
@import './variable.scss';

 .hr {
    background-color: $pnik-border;
}

.stories-sec{
    margin: 30px;
    padding: 20px 0;
    display: flex;

    & .story{
        padding: 20px;
    }
    & .border{
        border-left: 2px solid $light-border;
        border-right: 2px solid $light-border;
    }
}