$bg-color: #FFFFFF;
$font-color: #000000;
$seconder-color: #FFFFFF;
$third-color: #FCFCFC;
$light-border: #F0F0F0;
$pnik-border: #F08080;
$light-font: #908D8D;
$dark-gray-font: #404040;
$border-gray: #707070;
$border-color: #0000000D;
$link-color: #A2A2A2;
$footer-color: #00000059;
$card-date-color: #404040;
$number-color: #F0F0F0;